# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.pyc
*.pyo

# Logs
*.log

# OS files
.DS_Store

# Env files
.venv/
*venv/

# Large data/model files
data/Sentences_75Agree.txt
models/trained_financial_clf.pkl

#sensitive files
stock_info.py
config.json